name: Build & Push Docker Image

on:
  workflow_dispatch:
    inputs:
      create_tag:
        description: 'Whether to create a git tag after bump'
        required: false
        default: true
        type: boolean
      create_release:
        description: 'Whether to create a GitHub release after bump'
        required: false
        default: false
        type: boolean
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Bump version
        id: release-version
        uses: tomtom-international/commisery-action/bump@v3.5.0
        with:
          token: ${{ github.token }}
          create-tag: ${{ github.event.inputs.create_tag != null && github.event.inputs.create_tag || true }}
          create-release: ${{ github.event.inputs.create_release != null && github.event.inputs.create_release || false }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: build-and-push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./dockerfile
          push: ${{ steps.release-version.outputs.next-version != '' }}
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/vibe-media:${{ steps.release-version.outputs.next-version }}
            ${{ vars.DOCKERHUB_USERNAME }}/vibe-media:latest
            ${{ vars.DOCKERHUB_USERNAME }}/vibe-media:${{ github.sha }}

      - name: Image digest
        run: "echo 'Pushed image digest: ${{ steps.build-and-push.outputs.digest }}'"
